@include font-face(ssSocialCircle, "/fonts/SS-Social-Circle/ss-social-circle", regular, null, eot ttf svg);
@include font-face(ssSocial, "/fonts/SS-Social/ss-social-regular", regular, null, eot ttf svg);
@include font-face(ssBlock, "/fonts/SS-Block/ss-block", regular, null, eot ttf svg);
@include font-face(ssStandard, "/fonts/SS-Standard/ss-standard", regular, null, eot ttf svg);
@include font-face(sourceSansProLight, "/fonts/Source-Sans-Pro/source-sans-pro-light", light, null, eot woff2 woff ttf svg);
@include font-face(sourceSansProBold, "/fonts/Source-Sans-Pro/source-sans-pro-bold", bold, null, eot woff2 woff ttf svg);
@include font-face(sourceSansProReg, "/fonts/Source-Sans-Pro/source-sans-pro-regular", regular, null, eot woff2 woff ttf svg);
@include font-face(alphaHeadline, "/fonts/AlphaHeadline/alpha-headline-regular", regular, null, eot woff2 woff ttf svg);
@include font-face(alphaHeadlineBold, "/fonts/AlphaHeadline/alpha-headline-bold", regular, null, eot woff2 woff ttf svg);
@include font-face(data, "/fonts/data_70", regular, null, ttf svg);

.ssblcok{
        font-family:ssBlock;
}
@mixin header-xxl{
        font-family:alphaHeadline;
        @include phone{
                font-size: 32px;
                line-height:50px;
        }
        @include tablet{
                font-size: 36px;
                line-height:55px;
        }
        @include desktop{
                font-size:40px;
                line-height: 60px;
                letter-spacing: 0.03em;     
        }
}
@mixin header-xl{
        font-family:alphaHeadline;
        @include phone{
                font-size:24px;
                line-height:40px;
                letter-spacing: 0.02em;
        }
        @include tablet{
                font-size: 32px;
                line-height:50px;
        }
        @include desktop{
                font-size: 36px;
                line-height:55px;  
        }
}
@mixin header-l{
        font-family:alphaHeadline;
        @include phone{
                font-size:20px;
                line-height:34px;
                letter-spacing:0.02em;
        }
        @include tablet{
                font-size:24px;
                line-height:40px;
                letter-spacing: 0.02em;
        }
        @include desktop{
                font-size: 32px;
                line-height:50px;
                letter-spacing:0.02em;
        }
}
@mixin header-m{
        font-family:alphaHeadline;
        text-transform:uppercase;
        @include phone{
                font-size:18px;
                line-height:30px;
                letter-spacing:0.02em;
        }
        @include tablet{
                font-size:20px;
                line-height:34px;
                letter-spacing:0.02em;
        }
        @include desktop{
                font-size:24px;
                line-height:40px;
                letter-spacing: 0.02em;   
        } 
}
@mixin header-xxs{
        font-family:alphaHeadline;
        text-transform:uppercase;
        @include phone{
                font-size:14px;
                line-height:30px;
                letter-spacing:0.02em; 
        }
        @include tablet{
                font-size:16px;
                line-height:34px;
                letter-spacing:0.02em;     
        }
        @include big-desktop{
                font-size:18px;
                line-height:30px;
                letter-spacing:0.02em;
        }
}
@mixin data-xl{
        font-family:data;
        font-size:80px;
        padding-top:25px;
        line-height: 75px;
}
@mixin paragraph-xl{
        font-family:sourceSansProReg;
        hyphens:none;
        @include phone{
                font-size:20px;
                line-height:34px;
        }
        @include tablet{
                font-size:24px;
                line-height:40px;
        }
        @include desktop{
                font-size:28px;
                line-height:44px;   
        }      
}
@mixin paragraph-m{
        font-family:sourceSansProReg;
        hyphens:none;
        @include phone{
                font-size:16px;
                line-height:28px;
                margin-bottom:20px;  
        }
        @include tablet{
                font-size:16px;
                line-height:28px;
                margin-bottom:20px;
        }
        @include desktop{
                font-size:20px;
                line-height:34px;
                margin-bottom:20px;    
        }
}
p,
li{
        @include paragraph-m();
}
strong{
        font-family:sourceSansProBold;
        text-transform: uppercase;
        margin-right:3px;
        font-size: inherit;
        letter-spacing: 0.02em;
}
small{
        font-family:inherit;
        font-size:80%;
        font-color:inherit;
}
span{
        font-family:inherit;
        font-size:inherit;
        font-color:inherit;
}

a:hover{
        color:$highlight;
}

.btn{
        transition:all 0.5s ease;
        font-family:alphaHeadline;
        &:hover{
                cursor:pointer;
        }
}
.btn-large{
        text-transform: uppercase;
        letter-spacing:0.02em;
        border-radius:3px;
        @include tablet{
                font-size:60px;
                padding:15px 30px;
                margin:80px 0;
        }
        @include phone{
                font-size:40px;
                line-height:100px;
                margin:30px 0; 
                padding:5px 15px; 
                line-height:60px;
        }
}
.btn-black{
        background-color:$black;        
        color:$white;
        &:hover{
                color:$pink;
        }
}

*{
        font-family:sourceSansProReg;
}
.icon-social{
        font-family:ssSocial;
}
.icon-circle{
        font-family:ssSocialCircle;
}
.icon{
        font-family:ssBlock;
}