#Class{
        @mixin fullWidth(){
                width:100%;
                h2{
                        @include big-desktop{
                                max-width:1200px !important;
                        }
                        @include tablet{
                                margin:0 100px 40px;
                                max-width:960px;
                        }
                        @include phone{
                                margin:0 40px 20px;
                        }
                }
        }
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        padding-bottom:600px;
        >header{
                width:100%;
                margin-bottom:40px;
                h1{
                        background-color:yellow;
                        letter-spacing: .1em;
                        text-transform: uppercase;
                        @include text_element_padding();
                        text-align: center;
                        margin-bottom:0; //default reset
                }
        }
        h2{
                width:100%;
                text-transform: uppercase;
                font-size:16px;
                border-bottom: 1px dotted $black;
                letter-spacing: 0.02em;
                margin-bottom:20px;
                @include phone{
                        font-size:14px;
                        line-height: 30px;
                }
                @include big-desktop{
                        font-size:18px;
                }
        }
        .video{
                max-width: 1200px;
                margin:0 auto 40px;
                width:100%;
        }
        li{
                font-size:20px;
                line-height: 32px;
                max-width:900px;
                hyphens:none;
                @include phone{
                        font-size:16px;
                        line-height: 30px;
                }

        }
        p,li{
                margin-bottom:10px;
        }
        .class-ascent_checklist,
        .class-links,
        .class-mission,
        .class-transmission,
        .class-tips{
                width:100%;
                @include big-desktop{
                        max-width:1200px !important;
                }
                @include tablet{
                        margin-bottom:40px;
                        padding:0 100px;
                        max-width:960px;
                }
                @include phone{
                        margin-bottom:20px;
                        padding:0 40px;
                }
        }
        .class-keywords{
                position:relative;
                @include fullWidth();
                @include flexbox();
                @include flex-direction(row);
                @include flex-wrap(wrap);
                @include justify-content(space-evenly);
                .card{
                        width:100%;
                        height: 400px;
                        transition: transform 1s;
                        transform-style: preserve-3d;
                        cursor: pointer;
                        position: relative;
                        @include big-desktop{
                                height:500px;
                                width: 50%;
                        }
                        &:hover{
                                -webkit-transform: rotateX(20deg);
                                transform: rotateX(20deg);
                                box-shadow: 20px 0px 20px rgba(50,50,50,.2);
                                h2{
                                        opacity:1;
                                }
                        }
                        &.is-flipped{
                                transform: rotateX(180deg);
                                &:hover{
                                        // transform: rotateX(160deg);
                                        // -webkit-transform: rotateX(160deg);
                                        // box-shadow: 20px 0px 20px rgba(255,255,255,.2);
                                }
                                h2{
                                        opacity:0;
                                }
                                .card-front{
                                        opacity:0;
                                }
                        }
                        h2{
                                position:absolute;
                                transition:all 0.5s ease;
                                color:black;
                                border-bottom:none;
                                font-size:50px;
                                opacity:0;
                                transition: all 0.5s ease;
                                z-index: 1000;
                                line-height: 60px;
                        }
                        .card-front,
                        .card-back{
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                line-height: 260px;
                                text-align: center;
                                font-weight: bold;
                                font-size: 40px;
                                -webkit-backface-visibility: hidden;
                                backface-visibility: hidden;
                                @include flexbox();
                                @include align-items(center);
                                transition:all 0.5s ease;
                        }
                        .card-front{
                                background-color:ivory;
                                .image-container{
                                        position:relative;
                                        overflow:hidden;
                                        width:100%;
                                        height:100%;
                                        img{
                                                object-fit: cover;
                                                position: absolute;
                                                left: 50%;
                                                top: 50%;
                                                transform: translate(-50%, -50%);
                                                height: 100%;
                                                width: 100%;
                                        }
                                }

                        }
                        .card-back {
                                background: $white;
                                transform: rotateY(180deg);
                                @include flexbox();
                                @include flex-direction(column);
                                @include justify-content(center);
                                padding:10px 50px;
                                -webkit-transform: rotateX(180deg);
                                transform: rotateX(180deg);
                                p{
                                        font-family: sourceSansProLight;
                                        font-size:26px;
                                        line-height: 40px;
                                }
                                .strong{
                                        font-size:120%;
                                        margin-right:3px;
                                }
                        }
               }
        }
        .class-mission{
               li{
                        margin-bottom:20px;
               }
        }
        ul{
                margin-bottom:20px;
                li p{
                        display:inline;
                }
                li::before{
                        content: attr(data-icon);
                        font-size:22px;
                        padding-right:10px;
                }
        }
        a{
                color:$highlight;
                transition:0.5s ease;
                &:hover{
                        background-color:yellow;
                }
        }
}