#FAQ{
        @include background-image("/img/texture-plasticbag-blue.jpg");
        @include flexbox();
        @include flex-direction(column);
        h2{
                text-shadow:7px 7px $white;
                color:$black;
                font-family: data;
                font-size:80px;
                text-transform:uppercase;
                text-align:center;
                padding-top:25px; //font fix
                margin-bottom:20px;
                line-height: 75px;
                @include phone{
                        font-size:70px;
                }
        }
        ul{
                max-width:1000px;
                margin:0 auto;
                padding:0 40px;
                li{
                        font-size:28px;
                        margin-bottom:10px;
                        box-shadow:0 0 3px 1px rgba(102, 204, 255, 0.2);
                        position: relative;
                        z-index: 1;
                        .background{
                                background-color:$white;
                                position:absolute;
                                top:0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                opacity: .5;
                                z-index: -1;
                        }
                        p{
                                font-size:20px;
                                line-height: 32px;
                                &:first-child{
                                        text-transform: uppercase;
                                        margin-bottom: 10px;
                                        display:inline-block;
                                        font-family:sourceSansProBold;
                                        margin-bottom: 18px;
                                }
                        }
                }
        }
        .btn{
                display:inline-block;
                margin:80px auto;
        }
        @include phone{
                padding:8% 10px;
                li {
                        padding:25px 25px;
                }
        }
        @include tablet{
                padding:8% 0.5%;
                li{
                        padding:40px;
                }
        }
}