/* ~~~~~~~~~~~~~~~~~~~~
* * * * * * * * * * * *
      S P L A S H
* * * * * * * * * * * *
~~~~~~~~~~~~~~~~~~~~~ */
#Splash{
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        h1{
                text-align: center;
                max-width:800px;
                font-size:50px;
                line-height: 76px;
                max-width:1200px;
                letter-spacing:0.03em;
        }
        h2{
                max-width:1200px;
                font-family: data;
                font-size:80px;
                text-transform:uppercase;
                text-align:center;
                padding-top:25px; //font fix
                margin-bottom:8%;
        }
        h3{
                font-size:30px;
                font-family:alphaHeadlineBold;
                text-transform: uppercase;
        }
        p{
                font-size:28px;
                line-height: 40px;
                max-width:1200px;
                @include phone{
                        font-size:34px;
                        line-height: 44px;
                }
                @include desktop{
                        font-size:20px;
                        line-height: 36px;
                }
        }
        section{
                @include flexbox();
                @include flex-direction(column);
                @include flex-wrap(nowrap);
                @include justify-content(center);
                @include align-items(center);
                padding: 8% 0.5%;
                @include phone{
                        padding: 8% 1%;
                }
        }
        /* ~~~~~~~~~~~~~~~~~~~~
        ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ
              I N T R O
        /\/\/\/\/\/\/\/\/\/\/\
        ~~~~~~~~~~~~~~~~~~~~~ */
        .splash_intro{
                color:$white;
                @include background-image('img/texture-crystals.png');
                .video{
                        width:100%;
                        max-width:800px;
                }
                // Highlighted text illusion
                // Embed span nd give it a bg (highlight) color 
                // (opt) Add box shadow
                h1 span,
                p span{
                        background-color:$black;
                        box-shadow:0 0 10px 10px $black; 
                }
                p{
                        font-size:32px;
                        line-height:50px;
                        text-align: center;
                        margin-top:40px;
                        letter-spacing: 0.03em;
                        @include phone{
                                font-size:36px;
                                line-height:48px;
                        }
                        @include tablet{
                                max-width:800px;
                        }
                }
                 @include phone{
                        h1, p{
                                background-color:rgba(0, 0, 0, 0.5);
                        }
                 }
        }
        .splash_lessons{
                @include background-image("img/aluminum_foil.jpg");
                h2{
                        color:$white;
                        text-shadow:7px 7px $black;
                }
                ul{
                        @include flexbox();
                        @include flex-wrap(nowrap);
                        @include flex-direction(column);
                        @include justify-content(center);
                        li{
                                @include flexbox();
                                position:relative; // needed to absolutely position texts boxes on hover
                        }


                        @include phone{
                                @include flex-direction(column);
                                @include flex-wrap(nowrap);
                                li{
                                        @include flex-direction(column);
                                        margin-bottom:1%;
                                        img{
                                                height:100%;
                                                width:100%;
                                        }
                                        &:nth-of-type(4n + 1){
                                                .text{
                                                        background-color:$black;
                                                        color:$white;
                                                        p{
                                                                background-color:$black;
                                                        }
                                                }
                                        }
                                        .text{
                                                padding: 20px;
                                                background-color:$white;
                                        }
                                        p{
                                                font-size:16px;
                                                line-height: 35px;
                                        }

                                }
                        }
                        @media (min-width:800px) and (max-width:1023px){
                                li{
                                        @include flex-direction(row);
                                        img{
                                                width:300px;
                                        }
                                }
                        }
                        @include tablet{
                                @include flex-direction(row);
                                @include flex-wrap(wrap);
                                @include justify-content(space-evenly);
                                width:100%;
                                li{
                                        @include align-items(center);
                                        @include justify-content(center);
                                        width:32.5%;
                                        margin:0 0.1% 0.5%;
                                        &:hover{
                                               .text p{
                                                        opacity:0.90;
                                                } 
                                        }
                                        // Cluster of 4, selecting first item
                                        &:nth-of-type(4n + 1){
                                                .text{
                                                        color:$black;
                                                        p{
                                                                background-color:$white;
                                                                opacity:1;      
                                                        }
                                                }
                                        }
                                        img{
                                                width:100%;
                                                height:300px;
                                                width:100%;
                                                height:100%;
                                                object-fit: cover;
                                                background-position: center;
                                                flex:1;
                                        }
                                        .text{
                                                position:absolute;  
                                                height:100%;
                                                width:100%;
                                                transition:all 500ms;
                                                padding:30px;
                                                color:$white;
                                        }
                                        h3{
                                                position:absolute;
                                                top:9%; left:9%;
                                                z-index:50;
                                                margin-bottom:20px;
                                                letter-spacing:0.03em;
                                        }
                                        p{      
                                                position:absolute;
                                                top:0; left:0;
                                                width:100%;
                                                height:100%;
                                                background-color:$black;
                                                padding:20% 9%;
                                                opacity:0;
                                                font-size:21px;
                                                line-height:33px;
                                        } 
                                }
                        }
                }
        }
        .splash_faq{
                @include background-image("img/texture-bubbles.jpg");
                h2{
                        text-shadow:7px 7px $white;
                }
                ul{
                        max-width:1000px;
                        margin:0 auto;
                        li{
                                font-size:28px;
                                margin-bottom:6px;
                                padding-left:20px;
                                background-color:$white;
                                padding:20px;
                                &:before{
                                        content:"•";
                                        margin-left:-20px;
                                }
                        }
               }
        }
         .splash-request-btn{
                background-color:$pink;
                transition:all 0.5s ease;
                color:$white;
                font-family:alphaHeadline;
                font-size:60px;

                &:hover{
                        background-color: $sunset;
                }
        }
        .splash_about{
                @include background-image("img/texture-crystals.png");
                h2{
                        color:$ltblue;
                }
                p{
                        padding:20px;
                        background-color:$black;
                        color:$ltblue;
                        font-size:20px;
                        line-height: 38px;
                        width:600px;
                }
                
        }
       
}