/* ~~~~~~~~~~~~~~~~~~~~
* * * * * * * * * * * *
      S P L A S H
* * * * * * * * * * * *
~~~~~~~~~~~~~~~~~~~~~ */
#Splash{
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        h1{
                text-align: center;
                max-width:800px;
                font-size:40px;
                line-height:50px;
                max-width:900px;
                letter-spacing:0.03em;
                @include phone{
                        font-size:30px;
                        line-height:42px;
                }
        }
        h2{
                max-width:1200px;
                @include data-header;
        }
        h2 span{
                font-family:data;
        }
        h3{
                font-size:30px;
                font-family:alphaHeadlineBold;
                text-transform: uppercase;
                @include phone{
                        font-size:22px;
                }
        }
        section{
                @include flexbox();
                @include flex-direction(column);
                @include flex-wrap(nowrap);
                @include justify-content(center);
                @include align-items(center);
                padding: 8% 0.5%;
                min-height:100vh;
                @include phone{
                        padding: 8% 10px;
                        &.splash_lessons,
                        &.splash_faq{
                                background-repeat:repeat;
                                background-size:auto;
                        }
                }
        }
        @include phone{
                overflow:hidden;
        }
        /* ~~~~~~~~~~~~~~~~~~~~
        ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ
              I N T R O
        /\/\/\/\/\/\/\/\/\/\/\
        ~~~~~~~~~~~~~~~~~~~~~ */
        .splash_intro{
                color:$white;
                @include background-image('/img/texture-crystals.jpg');
                .video{
                        width:100%;
                        max-width:800px;
                }
                // Highlighted text illusion
                // Embed span nd give it a bg (highlight) color 
                // (opt) Add box shadow
                h1 span,
                p span{
                        background-color:rgba(0, 0, 0, 0.5);
                        box-shadow:0 0 10px 10px rgba(0, 0, 0, 0.5); 
                }
                h1,p{
                        padding:0 5%;
                }
                p{
                        text-align: center;
                        letter-spacing: 0.03em;
                        margin-bottom: 5%;
                        @include p-large();
                }
                @include phone{
                        h1 span,
                        p span{
                                background-color:rgba(0, 0, 0, 0.5);
                                box-shadow:0 0 5px 5px rgba(0, 0, 0, 0.5); 
                        }
                }
        }
        .splash_lessons{
                @include background-image("/img/texture-aluminum-foil.jpg");
                h2{
                        color:$white;
                        text-shadow:7px 7px $black;
                }
                ul{
                        @include flexbox();
                        @include flex-wrap(nowrap);
                        @include flex-direction(column);
                        @include justify-content(center);
                        li{
                                @include flexbox();
                                position:relative; // needed to absolutely position texts boxes on hover
                                background-color:$black;
                                color:$white;
                                overflow:hidden;
                                &:nth-of-type(4n + 1){
                                        color:$black;
                                        background-color:$white;
                                        // background: #f475f4; /* Old browsers */
                                        // background: -moz-linear-gradient(-45deg, #f475f4 0%, #7db9e8 100%); /* FF3.6-15 */
                                        // background: -webkit-linear-gradient(-45deg, #f475f4 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
                                        // background: linear-gradient(135deg, #f475f4 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f475f4', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                                        p{ 
                                                opacity:1;
                                                background-color:transparent;
                                        }
                                }
                                p{
                                        transition:opacity 0.5s ease;
                                }
                        }
                        @include phone{
                                @include flex-direction(column);
                                @include flex-wrap(nowrap);
                                h2{
                                        text-shadow:5px 5px $black;
                                }
                                li{
                                        @include flex-direction(column);
                                        margin-bottom:20px;
                                        img{
                                                height:100%;
                                                width:100%;
                                        }
                                        h3{
                                               padding:25px 25px 5px;
                                               margin:0;
                                        }
                                        p{
                                                padding:0 25px 25px;
                                                margin-bottom:0; //reset
                                        }
                                }
                        }
                        @include tablet{
                                @include flex-direction(row);
                                @include flex-wrap(wrap);
                                @include justify-content(space-evenly);
                                width:100%;
                                li{
                                        @include align-items(center);
                                        @include justify-content(center);
                                        width:32.5%;
                                        margin:0 0.1% 0.5%;
                                        &:hover{
                                               p{
                                                        opacity:1;
                                                } 
                                        }                                       
                                        img{
                                                width:100%;
                                                height:300px;
                                                width:100%;
                                                height:100%;
                                                object-fit: cover;
                                                background-position: center;
                                                flex:1;
                                        }
                                        h3{
                                                position:absolute;
                                                top:9%; left:9%;
                                                z-index:50;
                                                letter-spacing:0.03em;
                                        }
                                        p{      
                                                position:absolute;
                                                top:0; left:0;
                                                width:100%;
                                                height:100%;
                                                background-color:$black;
                                                padding:20% 9%;
                                                opacity:0;
                                        } 
                                }
                        }
                }
        }
       
        .splash_becomeamartian{
                @include background-image("/img/texture-neon.jpg");
                min-height:70vh;
                h2 { 
                        font-size:150px;
                        letter-spacing: 0.03em;
                        text-align: justify;
                        line-height:200px;
                        text-shadow: 4px 4px $pink;
                }
                p{
                        @include p-large();
                        padding-left:200px;
                }
                .splash_becomeamartian_btn{
                        @include tablet{
                                margin-bottom:60px;
                                margin-left:500px;
                        }
                }
        }
        .splash_about{
                @include background-image("/img/texture-mars.jpg");
                h2{
                }
                p{
                        max-width:800px;
                        text-align:center;
                        @include p-large();
                }
                
        }
       
}